<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-coreui-backdrop="static" data-coreui-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Atenção</h5>
                <button id="btnClose" type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div id="dlgConfirmMessage" class="modal-body"></div>
            <div class="modal-footer">
                <button id="btnNo" type="button" class="btn btn-secondary" data-coreui-dismiss="modal">Cancelar</button>
                <button id="btnYes" type="button" class="btn btn-primary">Confirmar</button>
            </div>
        </div>
    </div>
</div>