<!-- Modal -->
<div class="modal" id="staticSpinner" data-coreui-backdrop="static" data-coreui-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropAlert" aria-hidden="true">
    <div class="modal-dialog">
        <div class="custom-modal-content">
            <div id="dlgSpinner" class="modal-body">
                <div style="width: 5rem; height: 5rem;" class="spinner-border text-light" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .custom-modal-content{
        position: fixed;
        display: flex;
        top: 50%;
        left: 50%;
    }
</style>